<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="AD0001" Action="Hidden" />
    <Rule Id="SA1133" Action="Hidden" />
    <Rule Id="SA1600" Action="Hidden" />
  </Rules>
</RuleSet>